<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>dalfox</id>
    <version>__VERSION__</version>
    <title>Dalfox (XSS scanner)</title>
    <authors>hahwul</authors>
    <copyright>hahwul</copyright>
    <projectUrl>https://dalfox.hahwul.com</projectUrl>
    <iconUrl>https://raw.githubusercontent.com/hahwul/dalfox/main/docs/static/images/logo_solo.png</iconUrl>
    <projectSourceUrl>https://github.com/hahwul/dalfox</projectSourceUrl>
    <packageSourceUrl>https://github.com/hahwul/dalfox/tree/main/packaging/chocolatey</packageSourceUrl>
    <licenseUrl>https://github.com/hahwul/dalfox/blob/main/LICENSE.txt</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <docsUrl>https://dalfox.hahwul.com</docsUrl>
    <bugTrackerUrl>https://github.com/hahwul/dalfox/issues</bugTrackerUrl>
    <tags>security xss scanner pentest bugbounty cli</tags>
    <summary>Powerful open-source XSS scanner and utility focused on automation.</summary>
    <description>Dalfox is a fast, powerful open-source XSS scanner with parameter analysis, DOM/AST-assisted verification, a REST API server, and an MCP server.</description>
    <releaseNotes>https://github.com/hahwul/dalfox/releases/tag/v__VERSION__</releaseNotes>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
  </files>
</package>
